{% extends "auctions/layout.html" %}

{% block body %}
<h2>My Listings</h2>

<div style="margin-top: 20px;">
    {% if listings %}

    {% for listing in listings %}
    {% include 'auctions/items_caption.html' %}
    <hr>
    {% endfor %}

    {% endif %}
</div>
<hr>
<h2>Items Sold </h2>
<div style="margin-top: 20px;">
    {% if sold %}
    {% for s in sold %}
    <li>{{ s.title }} | Sold for {{ s.price_sold_for }} euros </li>
    {% endfor %}
    {% else %}
    <p>You haven't sold anything yet.
    </p>
    {% endif %}
    <p style="margin-top: 20px;">You earned: <strong>{{ total_earnings }} </strong>euros</p>
</div>

<hr>
<h2>My bids </h2>
<div style="margin-top: 20px;">
    {% if bids %}
    {% for bid in bids %}
    {% include 'auctions/items_caption.html' %}
    {% endfor %}
    {% else %}
    <p>You haven't bid anything yet.
    </p>
    {% endif %}
</div>
<hr>
<h2> My Watchlist </h2>
<div>
    {% if watchlist %}
    <ul class='list-group'>
        {% for w in watchlist %}
        <a href="{% url 'listing' listing_id=w.item.id %}">
            <li class="list-group-item d-flex justify-content-between align-items-center">
                {{ w.item.title }}
        </a>
        <span class="badge bg-light rounded-pill">
            <form action="{% url 'watchlist' listing_id=w.id %}" method="POST">
                {% csrf_token %}
                <input type="submit" class="btn btn-outline-danger btn-sm" value="Remove">
            </form>
        </span>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p> Your watchlist is empty. </p>
    {% endif %}
</div>

{% endblock %}