{% extends "auctions/layout.html" %}
{% load template_extras %}
{% block body %}
<h2>Active Listings</h2>
{% for listing in listings %}
<div class="card" style="width: 40rem;margin-bottom: 2rem;">
    <img class="card-img-top" src="{{ listing.photo.url }}" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">{{ listing.title }} | {{ listing.starting_bid}} </h5>
        <p class="card-text">{{ listing.description|convert_markdown|safe }}</p>
        <a href="{% url 'listing' listing_id=listing.id %}" class="btn btn-primary">View</a>
    </div>
</div>

{% endfor %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
        <a href="?page=1">&laquo; first</a>
        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">next</a>
        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}

{% block category %}

<ul>
    <h3>All Categories:</h3>
    {% for c in categories %}
    <a href="{% url 'category' category=c %}">
        <li>{{ c }}</li>
    </a>
    {% endfor %}
</ul>

{% endblock %}