{% extends "auctions/layout.html" %}

{% block body %}
<h2>Your Watchlist</h2>

<div>

    <ul>
        {% for w in watchlist %}
        <div style="margin-bottom: 20px;">
            <div>
                <li> <a href="{% url 'listing' title=w.item %}">
                        {{ w.item }}
                    </a>
                    <input type="submit" value="Remove" action="{% url 'remove' title=w.item %}" method="POST">
                </li>
            </div>

        </div>
        {% endfor %}
    </ul>
</div>

{% endblock %}